<div class="lib-nav">
    <h1>火焰山<small>基础组件库</small></h1>
    <dl>
        <dt>基础组件</dt>
        <dd class="active"><a href="?doc=base">base</a></dd>
        <dd><a href="?doc=box">box</a></dd>
        <dd><a href="?doc=button">button</a></dd>
        <dd><a href="?doc=dropdown">dropdown</a></dd>
        <dd><a href="?doc=form">form</a></dd>
        <dd><a href="?doc=grid">grid</a></dd>
        <dd><a href="?doc=header">header</a></dd>
        <dd><a href="?doc=iconfont">iconfont</a></dd>
        <dd><a href="?doc=mixin">mixin</a></dd>
        <dd><a href="?doc=step">step</a></dd>
        <dd><a href="?doc=table">table</a></dd>
        <dd><a href="?doc=tips">tips</a></dd>

        <dt>通用组件</dt>
        <dd><a href="?doc=address-selector">address-selector</a></dd>
        <dd><a href="?doc=calendar">calendar</a></dd>
        <dd><a href="?doc=captchable">captchable</a></dd>
        <dd><a href="?doc=countdown">countdown</a></dd>
        <dd><a href="?doc=countdown-timer">countdown-timer</a></dd>
        <dd><a href="?doc=cropper">cropper</a></dd>
        <dd><a href="?doc=dialog">dialog</a></dd>
        <dd><a href="?doc=loginable">loginable</a></dd>
        <dd><a href="?doc=paging">paging</a></dd>
        <dd><a href="?doc=placeholder">placeholder</a></dd>
        <dd><a href="?doc=poptip">poptip</a></dd>
        <dd><a href="?doc=slider">slider</a></dd>
        <dd><a href="?doc=tabs">tabs</a></dd>
        <dd><a href="?doc=uploader">uploader</a></dd>
        <dd><a href="?doc=validator">validator</a></dd>

        <dt>三方组件</dt>
    </dl>
</div>